<div class="main">
  <h1>Add Player</h1>
  <div class="formDiv">
    <form (submit)='onSubmit(noteForm.value)' #noteForm='ngForm'>
      <label for="name">Player Name: </label>
      <input type="text" name="name" [(ngModel)]="player.name" #name='ngModel' required minlegnth="2">
      <span style="color:red;" *ngIf="name.errors">Full name is required for submission (Min 2 characters)</span>
      <label for="position">Preferred Position: </label>
      <input type="text" name="position" [(ngModel)]="player.position">
      <input class="button" type="submit" [disabled]='!noteForm.form.valid' value="Add">
    </form>
  </div>
</div>
